.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}



div.keys{
  background-color: #E5E7EB;
  display: grid;
  grid-gap: 10px;  
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  padding: 1rem;
}

div.screen {
  border: 5px solid #40445b;
  color: black;
  background: #f8f8ff;
  padding: 10px 20px;
  min-height: 80px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: right;
  font-weight: bold;
}

div.container {
  background: #e7e7e7;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #40445b;
  box-shadow: 10px 10px 10px;
  margin-top: 50px;
}


button{
    background-color: rgb(35, 50, 85);
    color:white;
    font-weight: bold;
    border: None;
    border-radius: 100%;
    font-size: 18px;
    padding: 30px;
}

button#delete{
    background-color: rgb(211, 153, 26);
    color:white;
    font-weight: bold;
    border: None;
    border-radius: 100%;
    font-size: 18px;
    padding: 30px;
}

button#erase{
  background-color: rgb(236, 38, 38);
  color:white;
  font-weight: bold;
  border: None;
  border-radius: 100%;
  font-size: 18px;
  padding: 3px;
}

button:hover {
	background: rgb(164, 196, 241);
	color: #000;
}

button#delete:hover {
  background:rgb(219, 175, 81);
  color: #000;
}

button#erase:hover {
  background:rgb(230, 93, 93);
  color: #000;
}